<div class="c-card u-py3">
  <h6 class="u-w400">
    <a href="{{ base_url }}/{{ post.path }}">{{ post.title }}</a>
  </h6>
  <hr />
  <time class='small u-lt-2 u-caps' datetime="{{post.date}}">{{moment post.date "MMMM Do YYYY"}}</time>
</div>
