<!DOCTYPE html>
<html>
  {{> head }}
  <body>
    {{> header }}
    {{> nav }}
    <main>
      <ul>
        {{#each collections.posts}}
        <li class="">
          <a href="{{ base_url }}/{{ path }}">
            <h1>{{ title }}</h1>
            <time>{{ date }}</time>
            {{ excerpt }}
          </a>
        </li>
        {{/each}}
      </ul>
    </main>
    {{> footer }}
  </body>
</html>
